/deep/ .mat-tab-label{
    background-color: #c5c2c2;
    color: black;
    margin: 10px 4px;
    border-radius: 2px;
    height: 25px !important;
    font-size: 8px;
    min-width: 75px !important;
}
/deep/ .mat-tab-labels {
    justify-content: center;
}
img{
    width: 80%;
    margin: 20px 10%;
    height: 20rem;
}
p{
    margin: 10px 10%;
    word-break: break-all;
}