<header>
  <nav>
    <ul>
      <li><a [routerLink]="['']"><span class="main">VEU</span> Mag</a></li>
      <li class="post"><a [routerLink]="['/recent-posts']" [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="active">All Posts</a></li>
      <li class="login-btn"><a>LOG IN</a></li>
      <li class="login-btn"><a>SIGN UP</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="page-footer">
  <div class="row">
    <div class="col-md-4">
      <h3>VEU</h3>
      <div class="icons mt-4">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-vimeo-v"></i>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-12">
        <span>LOGIN &nbsp;&nbsp;&nbsp; </span><span>SUPPORT &nbsp;&nbsp;&nbsp;</span><span>CAREERS</span>
      </div>
      <div class="col-md-12">
        <span>ABOUT &nbsp;&nbsp;&nbsp; </span><span>PRIVACY &nbsp;&nbsp;&nbsp;</span><span>BLOG</span>
      </div>
      <div class="col-md-12 mt-3">
        SUBSCRIBE TO OUR NEWSPAPER
        <input type="text" placeholder="Email Address" /><span class="submit-btn">SUBMIT</span>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        JOIN THE COMMUNITY
      </div>
      <div>
        BECOME A PHOTOGRAPHER FOR VEU
      </div>
      <button type="button">APPLY</button>
    </div>
  </div>
</footer>