
<h3>Previous Posts</h3>
<div class="row no-gutters">
    <div class="col-md-4" *ngFor="let bg of imageDataArr">
        <div class="background-img" [id]="bg.id" (click)="openPost()">
            <img [src]="bg.bg" />
            <div class="img-over-text large">
               {{bg.text1}}<br/>
               {{bg.text2}}<br/>
               {{bg.text3}}<br/>
            </div>
            <div class="img-over-text small">
                {{bg.by}}<br/>
                {{bg.date}}
            </div>
        </div>    
    </div>
</div>
<div class="row no-gutters">
    <div class="col-md-4" *ngFor="let bg of imageDataArr">
        <div class="background-img" [id]="bg.id" (click)="openPost()">
            <img [src]="bg.bg" />
            <div class="img-over-text large">
               {{bg.text1}}<br/>
               {{bg.text2}}<br/>
               {{bg.text3}}<br/>
            </div>
            <div class="img-over-text small">
                {{bg.by}}<br/>
                {{bg.date}}
            </div>
        </div>    
    </div>
</div>
