<app-veu-posts></app-veu-posts>
<div class="container">
    <h3>Recent Posts</h3>
    <div class="row">
        <div class="col-md-8">
            <div  class="background-img" id="bg2" (click)="openPost()">
                <img [src]="bg2" />
                <div class="img-over-text large">
                    Landscape Photography Composition Rules <br />
                    You Need to Start Using Today<br/>
                </div>
                <div class="img-over-text small">
                    JOHNNY WALKER<br/>
                    21st February, 2019
                </div>
            </div>    
        </div>
        <div class="col-md-4">
            <div id="bg3" class="background-img" (click)="openPost()">
                <img [src]="bg3" />
                <div class="img-over-text large">
                    Landscape Photography Composition Rules <br />
                    You Need to Start Using Today<br/>
                </div>
                <div class="img-over-text small">
                    JOHNNY WALKER<br/>
                    21st February, 2019
                </div>
            </div>   
            <div id="bg4" class="background-img" (click)="openPost()">
                <img [src]="bg4"/>
                <div class="img-over-text large">
                    Landscape Photography Composition Rules <br />
                    You Need to Start Using Today<br/>
                </div>
                <div class="img-over-text small">
                    JOHNNY WALKER<br/>
                    21st February, 2019
                </div>
            </div>   
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="bg5" class="background-img" (click)="openPost()">
                <img [src]="bg5" />
                <div class="img-over-text large">
                    Landscape Photography Composition Rules <br />
                    You Need to Start Using Today<br/>
                </div>
                <div class="img-over-text small">
                    JOHNNY WALKER<br/>
                    21st February, 2019
                </div>
            </div>   
            <div id="bg6" class="background-img" (click)="openPost()">
                <img [src]="bg6" />
                <div class="img-over-text large">
                    Landscape Photography Composition Rules <br />
                    You Need to Start Using Today<br/>
                </div>
                <div class="img-over-text small">
                    JOHNNY WALKER<br/>
                    21st February, 2019
                </div>
            </div>   
        </div>
        <div class="col-md-8">
            <div  class="background-img" id="bg7" (click)="openPost()">
                <img [src]="bg7" />
                <div class="img-over-text large">
                    Landscape Photography Composition Rules <br />
                    You Need to Start Using Today<br/>
                </div>
                <div class="img-over-text small">
                    JOHNNY WALKER<br/>
                    21st February, 2019
                </div>
            </div>    
        </div>
    </div>
    <app-previous-posts></app-previous-posts>
</div>
